:root {
    --main-color: #000000;
    --secondary-color: white;
    --left-margin-profile: 50px;
    --post-color: #c7c7c7;
    --button-shadow: 2px 2px 10px rgb(0, 0, 0, 0.32);
}

.add-post-button {
    background-color: var(--secondary-color);
    color: var(--main-color);
    border-color: var(--main-color);
    padding: 20px 40px;
    border-style: solid;
    border-radius: 3px;
    cursor: pointer;
    margin: 4px;
    font-size: medium;
    transition: background-color 0.3s,
        color 0.3s;
        box-shadow: 0.3s;
    grid-area: sidebar-left;
    width: fit-content;
    height: fit-content;
    margin-left: calc(var(--left-margin-profile) + 25px);
    margin-top: 30px;
    margin-right: 0px;
}

.send-friend-request {
    /* comment back in padding / margin and commment out width/height iff broken */
    width: 144px !important;
    height: 60px !important;
    background-color: var(--secondary-color);
    color: var(--main-color);
    border-color: var(--main-color);
    /* padding: 20px 40px; */
    border-style: solid;
    border-radius: 3px;
    cursor: pointer;
    /* margin: 4px; */
    font-size: medium;
    transition: background-color 0.3s,
        color 0.3s;
        box-shadow: 0.3s;
    grid-area: sidebar-left;
    width: fit-content;
    height: fit-content;
    margin-left: calc(var(--left-margin-profile) + 25px);
    margin-top: 100px;
    margin-right: 0px;
}


.follow{
    background-color: var(--secondary-color);
    color: var(--main-color);
    border-color: var(--main-color);
    padding: 20px 40px;
    border-style: solid;
    border-radius: 3px;
    cursor: pointer;
    margin: 4px;
    font-size: medium;
    transition: background-color 0.3s,
        color 0.3s;
        box-shadow: 0.3s;
    grid-area: sidebar-left;
    width: fit-content;
    height: fit-content;
    margin-left: calc(var(--left-margin-profile) + 25px);
    margin-top: 190px;
    margin-right: 0px;
}
 
.add-post-button:hover {
    background-color: var(--main-color);
    color: var(--secondary-color);
    box-shadow: var(--button-shadow)
}

.add-post-button:active {
    opacity: 0.8;
}

.edit-post-button {
    background-color: var(--secondary-color);
    color: var(--main-color);
    border-color: var(--main-color);
    padding: 10px 20px;
    border-style: solid;
    border-radius: 3px;
    cursor: pointer;
    margin: 4px;
    padding: 8px;
    transition: background-color 0.3s,
        color 0.3s;
        box-shadow: 0.3s;
}

.edit-post-button:hover {
    background-color: var(--main-color);
    color: var(--secondary-color);
    box-shadow: var(--button-shadow)
}

.edit-post-button:active {
    opacity: 0.8;
}

.delete-post-button {
    background-color: var(--secondary-color);
    color: var(--main-color);
    border-color: var(--main-color);
    padding: 10px 20px;
    border-style: solid;
    border-radius: 3px;
    cursor: pointer;
    margin: 4px;
    padding: 8px;
    transition: background-color 0.3s,
        color 0.3s;
        box-shadow: 0.3s;
}

.delete-post-button:hover {
    background-color: var(--main-color);
    color: var(--secondary-color);
    box-shadow: var(--button-shadow)
}

.delete-post-button:active {
    opacity: 0.8;
}

.comments-button {
    background-color: var(--secondary-color);
    color: var(--main-color);
    border-color: var(--main-color);
    padding: 10px 20px;
    border-style: solid;
    border-radius: 3px;
    cursor: pointer;
    margin: 4px;
    padding: 8px;
    transition: background-color 0.3s,
        color 0.3s;
        box-shadow: 0.3s;
}

.comments-button:hover {
    background-color: var(--main-color);
    color: var(--secondary-color);
    box-shadow: var(--button-shadow)
}

.comments-post-button:active {
    opacity: 0.8;
}

.profile-picture{
    width: 18%;
    display: inline-block;
    position: relative; 
    width: 200px; 
    height: 200px; 
    overflow: hidden; 
    border-radius: 50%;
    grid-area: topbar-left;
    margin-top: 30px;
    margin-left: var(--left-margin-profile);
}

.usrName {
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
    align-self: start;
    text-align: center;
    font-size: 40px;
    width: 100%;

}

.profile-picture img{
    width: 200px; 
    height: 100%; 
    /* margin-left: -90px; */
}

.grid {
    display: grid;
    background-color: var(--secondary-color);
    grid-template-areas:
        "topbar-left topbar-center topbar-right"
        "sidebar-left content sidebar-right"
        "footer-left footer-center footer-right";
    grid-template-columns: 2fr 8fr 2fr;
    margin-top: 20px;
}

.username {
    grid-area: topbar-center;
    text-align: center;
    font-size: 50px;
    font-family: Helvetica, sans-serif;
}

.post-content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    grid-area: content;
}

.post-box > p {
    margin-left: 20px;
    
}

.post-box{
    background-color: var(--post-color);
    width: 100%;
    grid-area: content;
    height: auto;
    border: black;
    border-style: solid;
    width: clamp(200px, 100%, 800px);
    border-radius: 5px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

#visibility {
    background-color: #333; 
    color: #fff;
    padding: 5px 10px; 
    width: fit-content;
    align-self: end;
    border-radius: 10px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 0px;
}


.post-image{
    max-width: clamp(200px, 100%, 800px);
    object-fit: cover;
}

.settings-icon{
    cursor: pointer;
    color: black;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    grid-area: topbar-right;
    width: min-content;
    height: min-content;
    border: none;
    background-color: #ffffff;
    border-radius: 40px;
    padding: 0;
    justify-self: end;
    margin: 40px;
}

.settings-icon svg {
    width: 48px;
    height: 48px;
    color: black;
  }

  .post-box > div:nth-child(8) {
    margin-left: 15px;
  }

.postID {
    color: blue;
    margin-left: 20px;
}

.postID:hover {
    text-decoration: underline;
}


.settings-icon:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: black;
    grid-area: topbar-right;
    width: min-content;
    height: min-content;
    border: none;
    background-color: transparent;
    border-radius: 40px;
    padding: 0;
    justify-self: end;
    margin: 40px;
}

.likes {
    margin-top: 0px;
}


#title-account {
    font-weight: bold;
    font-size: 1.3em; 
    align-self: center;
}

#source-account {
    margin-top: 3px;
    margin-bottom: 0px;
    font-size: small;
}

#origin-account {
    margin-top: 3px;
    margin-bottom: 0px;
    font-size: small;
}

#date-posted {
    font-size: small;
    margin-top: 0px;
    margin-bottom: 10px;
}