annotated-types==0.6.0
anyio==3.7.1
asgiref==3.6.0
corsheaders==3.10.1
dj-database-url==1.2.0
Django==4.1.5
django-on-heroku==1.1.2
djangorestframework==3.14.0
exceptiongroup==1.1.3
gunicorn==20.1.0
idna==3.4
psycopg2-binary==2.9.5
pydantic==2.4.2
pydantic_core==2.10.1
pytz==2023.3.post1
sniffio==1.3.0
sqlparse==0.4.3
starlette==0.27.0
typing_extensions==4.8.0
whitenoise==6.3.0
