:root {
    --main-color: #000000;
    --secondary-color: white;
    --primary-button-color: rgb(0, 170, 255);
    --secondary-button-color: rgb(255, 255, 255);
}

.add-post-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-post-content {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 700px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}


.add-post-content h2 {
    font-size: 1.5rem;
}

.add-post-content textarea {
    width: 97%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;

}

.add-post-content select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#submit-button {
    background-color: var(--primary-button-color);
    color: var(--secondary-button-color);
    border-color: var(--secondary-button-color);
    padding: 10px 10px;
    border-style: solid;
    border-radius: 6px;
    cursor: pointer;
    margin: 4px;
    font-size: medium;
    transition: background-color 0.3s,
        color 0.3s;
        box-shadow: 0.3s;
    grid-area: sidebar-left;
    width: fit-content;
    height: fit-content;
}

#submit-button:hover {
    background-color: var(--main-color);
    color: var(--secondary-color);
    box-shadow: var(--button-shadow)
}

#submit-button:active {
    opacity: 0.8;
}

#cancel-button {
    background-color: var(--primary-button-color);
    color: var(--secondary-button-color);
    border-color: var(--secondary-button-color);
    padding: 10px 10px;
    border-style: solid;
    border-radius: 6px;
    cursor: pointer;
    margin: 4px;
    font-size: medium;
    transition: background-color 0.3s,
        color 0.3s;
        box-shadow: 0.3s;
    grid-area: sidebar-left;
    width: fit-content;
    height: fit-content;
}

#cancel-button:hover {
    background-color: var(--main-color);
    color: var(--secondary-color);
    box-shadow: var(--button-shadow)
}

#cancel-button:active {
    opacity: 0.8;
}

#image-selector {
    padding: 20px;
    padding-bottom: 30px;
}